<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
<h3>Task List</h3>
{% for task in tasks %}
    <p>
        {{ forloop.counter }} . {{ task.name }} - {{ task.get_status_dispaly }}
        <a href="{% url 'tasks:task_update'  task.id %}">Update</a> |
        <a href="{% url 'tasks:task_delete'  task.id %}">Delete</a> |
        <a href="{% url 'tasks:task_create'   %}">create</a> |
        <a href="{% url 'tasks:task_detail'  task.id %}">detail</a> |
        )

    </p>
{% endfor %}
<p><a href="{% url 'tasks:task_create'  %}">Add a new task</a></p>
</body>
</html>